{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-10">
              <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-10">
              <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
              {% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-database-transaction">{{ entry_database_transaction }}</label>
            <div class="col-sm-10">
              <select name="database_transaction" id="input-database-transaction" class="form-control">
                {% if database_transaction == 'delete' %}
                <option value="delete" selected="selected">{{ text_database_transaction_delete }}</option>
                <option value="update">{{ text_database_transaction_update }}</option>
                {% else %}
                <option value="delete">{{ text_database_transaction_delete }}</option>
                <option value="update" selected="selected">{{ text_database_transaction_update }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
            <div class="col-sm-10">
              <select name="type" id="input-type" class="form-control">
                {% if type == 'search' %}
                <option value="search" selected="selected">{{ text_type_search }}</option>
                <option value="total">{{ text_type_total }}</option>
                {% else %}
                <option value="search">{{ text_type_search }}</option>
                <option value="total" selected="selected">{{ text_type_total }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-type-order">{{ entry_type_order }}</label>
            <div class="col-sm-10">
              <select name="type_order" id="input-type-order" class="form-control">
                {% if type_order == 'desc' %}
                <option value="asc">{{ text_type_asc }}</option>
                <option value="desc" selected="selected">{{ text_type_desc }}</option>
                {% else %}
                <option value="asc" selected="selected">{{ text_type_asc }}</option>
                <option value="desc">{{ text_type_desc }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-group">{{ entry_group }}</label>
            <div class="col-sm-10">
              <select name="group" id="input-group" class="form-control">
				{% for key, text_group in text_groups %}
					{% if key == group %}
						<option value="{{ key }}" selected="selected">{{ text_group }}</option>						
					{% else %}						
						<option value="{{ key }}">{{ text_group }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-rating">{{ entry_rating }}</label>
            <div class="col-sm-10">
              <select name="rating" id="input-rating" class="form-control">
				{% if rating == 1 %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
				{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
				{% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-period-notify">{{ entry_order_period_notify }}</label>
            <div class="col-sm-10">
              <select name="order_period_notify" id="input-order-period-notify" class="form-control">
				{% if order_period_notify == 1 %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
				{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
				{% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-period-value">{{ entry_order_period_value }}</label>
            <div class="col-sm-10">
              <select name="order_period_value" id="input-order-period-value" class="form-control">
				{% for i in 1..365 %}
					{% if i == order_period_value %}
						<option value="{{ i }}" selected="selected">{{ i }}</option>
					{% else %}
						<option value="{{ i }}">{{ i }}</option>
					{% endif %}
				{% endfor %}				
              </select>
			  {% if error_order_period_value %}
				<div class="text-danger">{{ error_order_period_value }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
